---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Featured Projects" href="projects">
  {
    projects.map(({ name, summary, image, linkPreview, linkSource }, index) => {
      // Logic for the "stacked" sticky effect
      const top = 98 + index * 40;
      return (
        <div
          style={`top: ${top}px;`}
          class="sticky mb-12 rounded-2xl border border-neutral/20 bg-white transition-all duration-300 hover:border-primary/40 hover:shadow-2xl hover:shadow-primary/5 group"
        >
          <div class="bg-difu relative z-[1] grid h-[580px] w-full grid-rows-2 rounded-2xl bg-white/90 before:absolute before:inset-0 before:z-[-1] before:rounded-2xl before:bg-[url(/raja.png)] before:bg-[length:128px] before:bg-repeat before:opacity-[5%] before:content-[''] sm:grid-cols-2 sm:grid-rows-1 md:h-96 overflow-hidden">
            <div class="px-6 pt-12">
              <h3 class="mb-5 font-serif text-3xl font-medium text-primary transition-colors duration-300 group-hover:text-slate-900">
                {name}
              </h3>
              <p class="text-base text-slate-700">{summary}</p>
              <div class="flex gap-5 pt-10 text-slate-900">
                <a
                  href={linkSource}
                  target="_blank"
                  class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] transition-colors hover:text-primary hover:underline"
                >
                  Source
                </a>
                <a
                  href={linkPreview}
                  target="_blank"
                  class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] transition-colors hover:text-primary hover:underline"
                >
                  Preview
                </a>
              </div>
            </div>
            <div class="flex items-end justify-end overflow-hidden">
              <Image
                class="h-full w-[95%] rounded-ss-xl rounded-ee-2xl object-none object-left-top sm:h-[85%] sm:w-full"
                src={image}
                alt={name}
                width="736"
                height="483"
              />
            </div>
          </div>
        </div>
      );
    })
  }
</Section>